{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "it": false,
    "expect": false,
    "describe": false,
    "navigator": false,
    "document": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "react/jsx-tag-spacing": "off",
    "react/sort-comp": ["off"],
    "react/prefer-stateless-function": ["off"],
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "react/no-multi-comp": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": ["off"],
    "no-undef": ["error"],
    "no-console": ["off"],
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "spaced-comment": "off",
    "prefer-destructuring": "off",
    "global-require": ["off"],
    "jsx-quotes": "off",
    "max-len": ["off"],
    "key-spacing": "off",
    "no-trailing-spaces": "off",
    "keyword-spacing": "off",
    "one-var": "off",
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "prefer-template": "off",
    "space-infix-ops": "off",
    "class-methods-use-this": ["off"],
    "no-unneeded-ternary":"off",
    "no-underscore-dangle":"off",
    "object-curly-newline":"off",
    "arrow-parens":"off",
    "no-mixed-operators": "off",
    "one-var-declaration-per-line": "off",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "quote-props": "off",
    "react/destructuring-assignment": "off",
    "operator-linebreak": ["off"],
    "lines-between-class-members": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "dot-notation": "off",
    "no-lone-blocks": ["off"],
    "padded-blocks":"off",
    "no-param-reassign":"off",
    "default-case":"off",
    "react/no-did-update-set-state": "off"
  }
}
